*::selection
{
    background-color: #FFFFFF;
    color: #000000;
}
body
{
    font-family: 'Quicksand';
}
section
{
    min-height: 100vh;
}
#title
{
    background-color: #000000;
    color: #FFFFFF;
    padding: 2% 10%;
    text-align: center;
}
nav
{
    font-family: 'Montserrat';
}
#title h1
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2
{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
}
h3
{
    font-size: 2rem;
    font-family: 'Arvo';
}
section .row
{
    padding: 13% 5%;
}
section p
{
    font-size: 2rem;
}
#web
{
    background-image: -webkit-linear-gradient(top, #000000, #888888);
    color: #FFFFFF;
}
#app
{
    background-image: -webkit-linear-gradient(top, #888888, #EEEEEE);
}
#app .col-lg-8
{
    text-align: right;
}
.col-lg-8, .col-lg-4
{
    padding: 5%;
}
.col-lg-4
{
    text-align: center;
}
#small
{
    display: none;
}
.icons
{
    font-size: 1.5rem;
    text-align: center;
}
.icons i
{
    margin: 2%;
}
#links
{
    min-height: auto;
    background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    padding: 5%;
    text-align: center;
}
#links a
{
    color: #000000;
}
#links a h3
{
    font-size: 1.5rem;
    display: inline-block;
    width: 30%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#footer
{
    text-align: center;
    padding: 3%;
}
.fab
{
    margin: 0 2%;
}
.btn, #copyright
{
    font-family: 'Arvo';
}
@media screen and (max-width: 1000px)
{
    #links
    {
        text-align: center;
    }
    #links a
    {
        text-decoration: none;
    }
    #links a h3
    {
        margin: 0 auto 3%;
        display: block;
        border-left: none;
        border-right: none;
    }
}
@media screen and (max-width: 900px)
{
    #title h1
    {
        font-size: 3.5rem;
    }
    #web, #app .col-lg-8
    {
        text-align: center;
    }
    #app .col-lg-4
    {
        display: none;
    }
    #app #small
    {
        display: block;
    }
}
@media screen and (max-width: 450px)
{
    #title
    {
        padding: 2% 0;
    }
}